# dependencies
client/node_modules
nodejs_api/node_modules
/java_api/.idea
/.pnp
.pnp.js

# production
client/build
java_api/target
nodejs_api/build

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
